{% extends 'JimdoJimkanbanBundle::base.html.twig' %}
{% block body %}
<h1>{{entity.name}} {{entity.isActive ? '' : '(deactivated)'}}</h1>

<form id="printer_edit_form" action="{{ path('printer_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

    {% form_theme edit_form 'JimdoJimkanbanBundle:Form:fields.html.twig' %}

    {{ form_row(edit_form.name) }}
    {{ form_row(edit_form.email) }}
    {{ form_row(edit_form.notes) }}
    {{ form_rest(edit_form) }}
    <p>
        <button class="button orange" type="submit">Save</button>
    </p>
</form>

<div class="record_actions">
    <form action="{{ path('printer_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <a class="button gray" href="{{ path('printer') }}">
            Back to list
        </a>
        <a class="button gray" id="deactivate">{{entity.isActive ? 'Deactivate' : 'Activate'}}</a>
        <button class="button gray" type="submit">Delete</button>
    </form>
</div>
{% endblock %}