<html>
    <head>
        {% stylesheets
            'bundles/jimdojimkanban/css/templates/ticket/shared.css'
            'bundles/jimdojimkanban/css/templates/ticket/print.css'
            'bundles/jimdojimkanban/js/plugins/jquery.fitText/jquery.fittext.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

         {% javascripts
            'bundles/jimdojimkanban/js/jquery.js'
            'bundles/jimdojimkanban/js/plugins/jquery.fitText/jquery.fittext.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

    </head>
    <body>
        <form id="kanban_form"  action="" method="GET">
            <div id="card">
                <div class="description">{{ title }}</div>

                <div id="meta_area" style="background-color: {{ type.isBackgroundFilled ? type.backgroundColor : 'none' }}">
                    <p id="ticket_type" style="border-top:1px solid #{{ type.backgroundColor }};background-color:#{{ type.backgroundColor }};">
                        {{ type.name }}
                    </p>

                    <p id="ticket_id" class="meta-text">
                        <span>#{{ id }}</span>
                    </p>

                    <p id="ticket_created" class="meta-text">
                        <span class="description">created:</span>
                        <span class="meta-value">{{ created }}</span>
                    </p>

                    <p id="ticket_reporter" class="meta-text">
                        <span class="description">reported by:</span>
                        <span class="meta-value">{{ reporter }}</span>
                    </p>
                    <img id="ticket_qr" src="http://chart.apis.google.com/chart?cht=qr&chs=190x190&chld=H|0&chl=T{{ id }}" />
                </div>
            </div>
            <div style="clear:both;"></div>
        </form>

        <script type="text/javascript">





            $(function() {
                $('div.description').fitText();
            });
        </script>
    </body>
</html>