<html>
    <head>
        {% stylesheets filter='cssrewrite'
            'bundles/jimdojimkanban/css/templates/ticket/shared.css'
            'bundles/jimdojimkanban/css/templates/ticket/view.css'
            'bundles/jimdojimkanban/css/backend/buttons.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% javascripts
            '@JimdoJimkanbanBundle/Resources/public/js/jquery.js'
            '@JimdoJimkanbanBundle/Resources/public/js/template/form.js'

        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}

    </head>
    <body>
        <form id="kanban_form"  action="{{ url('template_print') }}" method="POST">
            <div id="card">
                <textarea class="description" name="title">{{ title }}</textarea>

                <div id="meta_area" style="background-color: {{ type.isBackgroundFilled ? type.backgroundColor : 'none' }}">
                    <p id="ticket_type" style="border-top:1px solid #{{ type.backgroundColor }};background-color:#{{ type.backgroundColor }};">
                        {{ type.name }}
                    </p>
                    <input type="hidden" name="type" value="{{ type.name }}"/>

                    <p id="ticket_id" class="meta-text">
                        <input type="text" name="id" value="#{{ id }}" />
                    </p>

                    <p id="ticket_created" class="meta-text">
                        <span class="description">created:</span>
                        <input type="text" name="created" value="{{ created }}" />
                    </p>

                    <p id="ticket_reporter" class="meta-text">
                        <span class="description">reported by:</span>
                        <input type="text" name="reporter" value="{{ reporter }}" />
                    </p>
                    <img id="ticket_qr" src="http://chart.apis.google.com/chart?cht=qr&chs=190x190&chld=H|0&chl=T{{ id }}" />
                </div>
            </div>
            <h1 id="print-headline">Print <span class="status"></span></h1>
            {% include 'JimdoJimkanbanBundle:Template:printer-buttons.html.twig' %}
        </form>
    </body>
</html>