<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        {% stylesheets
            'bundles/jimdojimflowprintticket/css/templates/ticket/shared.css'
            'bundles/jimdojimflowprintticket/css/templates/ticket/print.css'
            'bundles/jimdojimflowprintticket/js/plugins/jquery.fitText/jquery.fittext.css'
        %}
        <link rel="stylesheet" href="{{ app.request.scheme ~  '://' ~  app.request.host ~ asset(asset_url) }}" />
        {% endstylesheets %}

         {% javascripts
            'bundles/jimdojimflowprintticket/js/jquery.js'
            'bundles/jimdojimflowprintticket/js/plugins/jquery.fitText/jquery.fittext.js'
        %}
        <script type="text/javascript" src="{{ app.request.scheme ~  '://' ~  app.request.host ~ asset(asset_url) }}"></script>
        {% endjavascripts %}

    </head>
    <body>
        <div id="card">
            <div id="description">
                <div name="title" id="text">{{ title }}</div>
            </div>
            <div id="metaarea" style="{{ type.isBackgroundFilled ? 'background-color:' ~ type.backgroundColor : ''}}">
                <div id="type" class="small-meta"  style="background-color: {{ type.backgroundColor }}">
                    <p>{{ type.name }}</p>
                </div>
                <div id="ticketnumber" class="b-l b-b big-meta">
                    <p>#{{ id|slice(1,id|length) }}</p>
                </div>
                <div id="created-at" class="second b-l b-b big-meta" >
                    <p>created:</p>
                    <p>{{ created }}</p>
                </div>
                <div id="reported-by" class="second b-l big-meta">
                    <p>reported by</p>
                    <p>{{ reporter }}</p>
                </div>
               <img id="qr" class="b-l" src="http://chart.apis.google.com/chart?cht=qr&chs=190x190&chld=H|0&chl={{ id }}" />
            </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function() {
                $('#text').fitText();
            });
        </script>
    </body>
</html>
