<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        {% stylesheets
            'bundles/jimdojimflowprintticket/css/templates/ticket/networkteam/shared.css'
            'bundles/jimdojimflowprintticket/css/templates/ticket/networkteam/print.css'
            'bundles/jimdojimflowprintticket/js/plugins/jquery.fitText/jquery.fittext.css'
        %}
        <link rel="stylesheet" href="{{ app.request.scheme ~  '://' ~  app.request.host ~ asset(asset_url) }}" />
        {% endstylesheets %}

        {% javascripts
            'bundles/jimdojimflowprintticket/js/jquery.js'
            'bundles/jimdojimflowprintticket/js/plugins/jquery.fitText/jquery.fittext.js'
        %}
        <script type="text/javascript" src="{{ app.request.scheme ~  '://' ~  app.request.host ~ asset(asset_url) }}"></script>
        {% endjavascripts %}

    </head>
    <body>
        <div id="card" class="ticket-card">
            <div class="cardHeader clearfix">
                <div class="cardHeader-projectLogo" style="{{ projectLogoUrl ? ('background-image: url(\'' ~ projectLogoUrl ~ '\')')|raw : '' }}">
                </div>
                <div class="cardHeader-project {{ not dueDate ? 'cardHeader-project--extended' : '' }}">
                    {{ project }}
                </div>
                {% if estimatedHours %}
                    <div class="cardHeader-estimatedHours">
                        {{ estimatedHours }}h
                    </div>
                {% endif %}
                {% if dueDate %}
                    <div class="cardHeader-dueDate">
                        {{ dueDate|date('d.m.') }}
                    </div>
                {% endif %}
            </div>

            <div class="cardBody clearfix">
                <div class="cardBody-text {{ relatedIssues|length > 0 ? 'cardBody-text--withIssues' : '' }}">
                    <span class="cardBody-id">#{{ id|slice(1,id|length) }}</span> {{ title }}
                </div>
                <div class="cardBody-issues">
                    {% for id, relation in relatedIssues|sort|reverse(true) %}
                        <div class="cardBody-issue">
                            <span class="cardBody-issue-header">{{ relation }}</span>
                            <span class="text--grey">#</span>{{ id }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="cardFooter clearfix">
                <div class="cardFooter-left">
                    <div class="cardFooter-skills">
                        {% for skill in skills %}
                            {% if skill.image %}
                                <div class="cardFooter-skill">
                                    <img width="167" height="67" src="{{ app.request.scheme ~  '://' ~  app.request.host ~ asset('/images/upload/' ~ skill.image) }}">
                                </div>
                            {% else %}
                                <div class="cardFooter-skill {{ skill.isBackgroundFilled ? 'cardFooter-skill--filled' : '' }}" style="{{ skill.isBackgroundFilled ? 'background-color:' ~ skill.backgroundColor : ''}}">
                                    {{ skill.name }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="cardFooter-meta">
                        <div class="cardFooter-meta-team">
                            <span class="cardFooter-meta-legend">
                                Team:
                            </span>
                            {% for member in teamMembers %}
                                <span
                                    {{- loop.first ? ' class="text--bold"' : '' -}}>
                                    {{- member -}}
                                    {{- not loop.last ? ',' : '' -}}
                                </span>
                            {% endfor %}
                        </div>
                        <div class="cardFooter-meta-created">
                            <span class="cardFooter-meta-legend">
                                Erstellt:
                            </span>
                            {{ created|date('d.m.Y') }}
                        </div>
                    </div>
                </div>
                <div class="cardFooter-right">
                    <img class="cardFooter-right-qr" src="http://chart.apis.google.com/chart?cht=qr&chs=190x190&chld=H|0&chl={{ issueUrl }}" />
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function() {
                $('.cardBody-text').fitText();
            });
        </script>
    </body>
</html>
