<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    
    <link rel="stylesheet" type="text/css" media="screen" href="/bundles/jimdojimkanban/css/colorpicker.css" />
    
    {% javascripts
        '@JimdoJimkanbanBundle/Resources/public/js/*'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    <script type="text/javascript">
        $(function() {
            $('input.jk-color-picker').ColorPicker({
                onSubmit: function(hsb, hex, rgb, el) {
                   $(el).val(hex)
                   .css({'backgroundColor': '#' + hex});
                }
            });
        
        });
        
    </script>
</head>

<h1>TicketType edit</h1>

<form action="{{ path('tickettype_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('tickettype') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('tickettype_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
