{% extends 'JimdoJimkanbanBundle::base.html.twig' %}
{% block body %}
<h1>TicketType edit</h1>

<form action="{{ path('tickettype_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Save</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('tickettype') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('tickettype_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}