{% extends 'JimdoJimkanbanBundle::base.html.twig' %}
{% block body %}
<h1>TicketType list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Backgroundcolor</th>
            <th>Isbackgroundfilled</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('tickettype_edit', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
            <td>{{ entity.backgroundColor }}</td>
            <td>{{ entity.isBackgroundFilled }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('tickettype_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('tickettype_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}