<html>
    <head>
	<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% stylesheets
            '@JimdoJimFlowPrintTicketBundle/Resources/public/css/layout.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% block additional_css %}{% endblock %}

        {% javascripts
            '@JimdoJimFlowPrintTicketBundle/Resources/public/js/jquery.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block additional_js %}{% endblock %}

    </head>
    <body>
        <div id="header">
        </div>
        <div id="content">
            {% image
                '@JimdoJimFlowPrintTicketBundle/Resources/public/images/jimkanban-logo.png'
            %}
            <img src="{{ asset_url }}"></img>
            {% endimage %}

            <div>
                 {% block body %} {% endblock %}
            </div>
        </div>
        <div id="footer">
            <a href="http://www.it-agile.de" target="_blank" id="agilelogo"><img src="{{ asset('bundles/jimdojimflowprintticket/images/logo-itagile.png') }}"/></a>
            <a href="http://www.jimdo.com" target="_blank" id="jimdologo"><img src="{{ asset('bundles/jimdojimflowprintticket/images/logo-jimdo.png') }}"/></a>
        </div>
    </body>
</html>
