<html>
    <head>
        {% stylesheets
                'bundles/jimdojimflowprintticket/css/backend/buttons.css'
                'bundles/jimdojimflowprintticket/css/templates/printer-buttons.css'
            %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% javascripts
                '@JimdoJimFlowPrintTicketBundle/Resources/public/js/jquery.js'
                '@JimdoJimFlowPrintTicketBundle/Resources/public/js/print-form/form.js'
                '@JimdoJimFlowPrintTicketBundle/Resources/public/js/print-form/buttons-iframe.js'
            %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

    </head>
    <body>
        <form id="kanban_form"  action="{{ path('template_ticket_print') }}" method="POST">
            <input type="hidden" name="title" value="{{ title }}"/>
            <input type="hidden" name="type" value="{{ type.name }}"/>
            <input type="hidden" name="id" value="{{ id }}"/>
            <input type="hidden" name="created" value="{{ created }}"/>
            <input type="hidden" name="reporter" value="{{ reporter }}"/>
            {{ form_widget(form._token) }}

            <div style="display: inline-block">
            {% include 'JimdoJimFlowPrintTicketBundle:Template:printer-buttons.html.twig' %}
            </div>
            |
            <div style="display: inline-block">
                <a class="button gray" target="_blank" href="{{url('template_ticket', {title: title, type: type.name, id: id, created: created, reporter: reporter})}}">Go to Ticket-View</a>
                <a class="button gray"  target="_blank" href="{{url('template_story')}}">Go to Story-View</a>
            </div>
        </form>
    </body>
</html>
